
$footerH: 40px;
$footerHH: 60px;
.main-container {
  min-height: calc(100% - 64px - 84px);
  padding-bottom: $footerHH !important;
}

.main-container-none-header {
  min-height: calc(100% - 64px);
  padding-bottom: $footerHH !important;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $footerH;
  margin-top: -$footerH !important;
  color: #EEEEEE;
  background-color: #2487a6;
}